# Display help menu.
# Arguments and Variables:
#     ${1}: Name of the script
display_help() {
    printf "%s" "Usage: ${1} [OPTION...]
short_description_of_script

Options:
  -h, --help            Display this help and exit
"
}
