# Display help menu.
# Arguments and Variables:
#     ${1}: Name of the script
display_help() {
    printf "%s" "usage: ${1} [OPTION...]

short_description_of_script

positional arguments:


optional arguments:
  -h, --help            Display this help and exit
"
}
